@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


@import "tailwindcss";

:root {
  font-family: "Bangers", serif;
  font-weight: 400;
  font-style: normal;
text-transform: uppercase;
}
